
*{
    margin: 0;padding: 0;box-sizing:border-box;
}
html,body{
    background-color: black;
    color: white;
}
#nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

}
 

#part2{
    display: flex;
    gap: 50px;
}

h1{
    font-size: 80px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
}
  